.row
  .large-8.small-centered.columns
    %div{align: "center"}
      .sectiontitle Send A message to Us
      = form_for @contact, :html => {:class => 'form-horizontal' } do |f|
        .row
          .large-12.columns
            .sectiontitle Name
            = f.text_field :name, :required => true, :placeholder => 'Will Brown'
        .row
          .large-12.columns
            .sectiontitle Email
            = f.text_field :email, :required => true, :placeholder => 'WillBrown2014@solution4u.com'
        .row
          .large-12.columns
            .sectiontitle Message
            = f.text_area :message, :as => :text, :required => true, :size => "30x5" 
        .hidden
          = f.text_field :nickname, :hint => 'Leave this field blank!'
        %div
          = f.submit 'Send message'